.encabezado{
    @include encabezadoYFooter;
    justify-content: space-between;

    #logo{
        display: flex;
        align-items: center;
        margin: 0% 0% 0% 15%;

        #circulo-logo{
            display: inline-block;
            width: 1.4rem;
            height: 1.4rem;
            border-radius: 50%;
            border: $COLOR_PRINCIPAL 0.4rem solid;
            margin-right: 4px;
        }
        p{
            display: inline-block;
            margin: 0%;
            font-weight: 700;
        }
    }
}