@import "variables";

#form{
    width: $TAMAÑO_CIEN_POR_CIENTO;
    height: 60%;
    padding: 2% 15%;
    h3{
        margin: 1% 1% -8% 2%;
        font-weight: 700;
        font-size: 2rem;
        color: rgb(173, 173, 173);
    }
    h1{
        margin: 7% 0% 0%;
        font-weight: 800;
        font-size: 4.5rem;
        letter-spacing: 0.5rem;
    }
    p{
        font-size: 1rem;
        margin: 2% 0% 10%;
    }
    div{
        display: flex;
        align-items: center;
        input{
            font-size: $tamañoFuente;
        }
        button{
            width: 25%;
            margin-left: 4%;
            font-size: $tamañoFuente;
            font-weight: 700;
            color: rgb(43, 43, 43);
        }
    }
}